<h2>Signin!! To Rent A 'Cat'</h2>

<form action="<%=session_url%>" method="post">
  <label>Username:</label>
  <input type="text" name='user[user_name]'>
  <label>Password:</label>
  <input type="password" name='user[password]'>
  <button type="submit">Signin</button>
</form>